label {
  font-weight: bold;
  display: flex;
  margin-bottom: 5px;
}
input[type="text"],
input[type="email"],
input[type="password"] {
  display: block;
  width: 80%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-left: 20px;
}
.form-control {
  margin-bottom: 20px;
}
.names,
.plocation {
  display: flex;
  width: 80%;
}
.country-form {
  margin: 20px;
  width: 80%;
}
h2,
.btn {
  margin-left: 20px;
}
.err {
  color: red;
  margin-left: 20px;
}
